<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Index</title>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
<div>DateTime now: <span id="clock">{{ date_now }}</span></div>
<input type="button" onclick="sayHello()" value="Alert Date Now" />

<br/>
<br/>
<form action="http://localhost:5000/login" method="post">
    <p>Enter Name:</p>
    <p><input type="text" name="nm"/></p>
    <p><input type="submit" value="submit"/></p>
</form>


<script>
    var clock = document.getElementById("clock");

    setInterval(() => {
        fetch("{{ url_for('time_feed') }}")
            .then(response => {
                response.text().then(t => {
                    clock.innerHTML = t
                })
            });
    }, 1000);
</script>
</body>
</html>