<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='clock.js') }}"></script>
</head>
<body onload="startTime()">
<div>DateTime now: <span id="clock">{{ date_now }}</span></div>
<br>
<input type="button" onclick="sayHello()" value="Alert Date Now"/>

<br/>
<br/>
<div id="mess">
    {% with messages = get_flashed_messages(with_categories='error') %}
        {% if messages %}
            {% for message in messages %}
                <p style="padding: 20px; background-color: lightblue; color: green;"><strong>{{ message }}</strong></p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% if not user_name %}
    <p>You are not logged in.</p>
    <br/>
    <a href="/login">Click here to login!</a>
{% else %}
    <p>Logged in as <b>{{ user_name }}</b></p>
    <br/>
    <a href="/logout">Click here to logout!</a>
{% endif %}
<script>
    {#setTimeout('$("#mess").hide()',5000);#}
    var mess = document.getElementById("mess");

    setTimeout(function () {
        mess.style.display = 'none';
    }, 3000);
</script>

{#<script>#}
{#    var clock = document.getElementById("clock");#}
{##}
{#    setInterval(() => {#}
{#        fetch("{{ url_for('time_feed') }}")#}
{#            .then(response => {#}
{#                response.text().then(t => {#}
{#                    clock.innerHTML = t#}
{#                })#}
{#            });#}
{#    }, 1000);#}
{#</script>#}
</body>
</html>