<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
<div id="mess">
    {% with messages = get_flashed_messages(with_categories='error') %}
        {% if messages %}
            {% for message in messages %}
                <p style="padding: 20px; background-color: lightblue; color: red;"><strong>{{ message }}</strong></p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<form action='/login' method='post'>
    <h2>Login</h2>
    <p>User Name <input type='text' name='user_name' required/></p>
    <p>Password <input type='text' name='password' required/></p>
    <p><input type='submit' value='Login'/></p>
</form>
<script>
    var mess = document.getElementById("mess");
    setTimeout(function () {
        mess.style.display = 'none';
    }, 3000);
</script>
</body>
</html>