<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <script type="text/css" src="{{ url_for('static', filename='index.css') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
<div id="mess">
    {% with messages = get_flashed_messages(with_categories='info') %}
        {% if messages %}
            {% for message in messages %}
                <p style="padding: 20px; background-color: lightblue; color: green;"><strong>{{ message }}</strong></p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<form action='/uploader' method='post' enctype="multipart/form-data">
    <h2>Login</h2>
    <p>Name <input type='text' name='name'/></p>
    <p>File <input type='file' name='file' multiple="multiple"/></p>
    <p><input type='submit' value='Upload'/></p>
</form>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>